<%- include("../templates/encabezado") %>
<%- include("../templates/menu") %>
<div class="container at-5">
    <div class="card">
        <div class="card-header">
            <h1>Productos</h1>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Fecha</th>
                        <th>Cantidad</th>
                        <th>Stock</th>
                        <th>Editar/Borrar</th>
                    </tr>
                </thead>
                <tbody>
                    <%
                    productos.forEach((producto, j)=>{

                    %>
                        <tr>
                            <td><%= j+1*4 %></td>
                            <td><%= producto.nombre %></td>
                            <td><%= producto.fecha %></td>
                            <td><%= producto.cantidad %></td>
                            <td><%= producto.stock %></td>
                            <td>
                                <a href="/editarProducto/<%= producto.id %>">Editar</a>
                                <a href="/borrarProducto/<%= producto.id %>">Borrar</a>
                            </td>
                        </tr>
                    <%
                    });
                    %>
                </tbody>
            </table>
        </div>
        <div class="card-footer"></div>
</div>

<%- include("../templates/pie") %>